body {
    font-family: helvetica, sans-serif;
    width: 350px;
    min-height: 98.4vh;
    background: linear-gradient(to right top, #6D44A6, #3B2C73);
    position: relative;
    left: 428.75px;
  }

#Name{
    color:rgb(255, 255, 255);
    background: linear-gradient(to right bottom, rgba(88, 0, 211, 0.3), rgba(27, 15, 44, 0.9));
    border: 10px solid rgba(242, 109, 233, 0.3);
    padding: 2px;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  font-size: 40px;
  color: #fad2fb;
  display: flex;
  justify-content: center;
  align-items: center; 
  bottom: 110px;
  background-color:rgba(27, 15, 44, 0.9);
  width: 400px;
  z-index: -1;
  bottom: 15px;
  right: 40px;
  border: 10px ridge rgba(242, 109, 233, 0.3);
}
#US, #UK{
    color: rgb(255, 255, 255);
}
  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  .story {
    color: rgb(0, 0, 0);
    padding: 10px;
    visibility: hidden;
    background: linear-gradient(to right bottom, rgba(242, 209, 206, 0.8), rgba(217, 150, 187, 0.4));
    border-radius: 1rem;
    z-index: 0;
    backdrop-filter: blur(0.6rem);
  }
  .randomize{
    background-color:#ffc125;
  }
  .randomize:hover{
    background-color:#464646;
    color:aliceblue;
  }

  .circle1{
    background: linear-gradient(to right bottom, rgba(249, 174, 11, 0.7), rgba(242, 109, 233, 0.3));
    height: 5rem;
    width: 6rem;
    position: absolute;
    top: 23%;
    right: 90%;
    border-radius: 50%;
    z-index: -1;
  }

  .triangle1, .triangle2{
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 100px solid transparent; 
  border-right: 100px solid transparent; 
  border-bottom: 90px solid rgba(27, 15, 44, 0.9);
  }
  .triangle1{
  top: 23%;
  right:95%;
  }
  .triangle2{
  top: 23%;
  right:55%;
  }